.container,
  .navbar-static-top .container,
  .navbar-static-bottom .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px; }

@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1; }
    .row:before, .row:after {
      display: table;
      content: "";
      line-height: 0; }
    .row:after {
      clear: both; }

  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px; }

  .container,
  .navbar-static-top .container,
  .navbar-static-bottom .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px; }

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static; }

  .navbar-fixed-top {
    margin-bottom: 20px; }

  .navbar-fixed-bottom {
    margin-top: 20px; }

  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 5px; }

  .navbar .container {
    width: auto; }

  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px; }

  .nav-collapse {
    clear: both; }

  .nav-collapse .nav {
    float: none;
    margin: 0 0 10px; }

  .nav-collapse .nav > li {
    float: none; }

  .nav-collapse .nav > li > a {
    margin-bottom: 2px; }

  .nav-collapse .nav > .divider-vertical {
    display: none; }

  .nav-collapse .nav .nav-header {
    color: #777777;
    text-shadow: none; }

  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #777777;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }

  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px; }

  .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > li > a:focus,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background-color: #f2f2f2; }

  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #999999; }

  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #111111; }

  .nav-collapse.in .btn-group {
    margin-top: 5px;
    padding: 0; }

  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    float: none;
    display: none;
    max-width: none;
    margin: 0 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  .nav-collapse .open > .dropdown-menu {
    display: block; }

  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none; }

  .nav-collapse .dropdown-menu .divider {
    display: none; }

  .nav-collapse .nav > li > .dropdown-menu:before, .nav-collapse .nav > li > .dropdown-menu:after {
    display: none; }

  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #111111;
    border-bottom-color: #111111; }

  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0; }

  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0; }

  .navbar .btn-navbar {
    display: block; }

  .navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important; } }

.btn-primary {
  background: none;
  background-color: #bed600; }
  .btn-primary:hover {
    background-color: #d5f000; }
  .btn-primary:active {
    background-color: #a7bd00; }

@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0; }

  .navbar-fixed-bottom {
    margin-top: 0; }

  .navbar.navbar-fixed-top .btn.btn-primary {
    margin-top: 0;
    margin-left: 15px;
    float: none;
    margin-bottom: 10px; } }

body{color:#555;padding-bottom:0;background-repeat:repeat;background-position:center top;font-family:Helvetica,Arial,sans-serif}body strong{font-weight:400}body a{color:#bed600}body a:hover{color:#a7bd00}p a{text-decoration:underline}h1,h2,h3,h4,h5,h6{color:#303030;font-family:"Open Sans",Helvetica,Arial,sans-serif;text-transform:normal-as-typed;font-weight:300;font-style:normal;text-shadow:0 1px 0 rgba(0,0,0,0.3);line-height:160%}h2{font-weight:700}.breadcrumb>li{text-shadow:0 1px 0 rgba(0,0,0,0.3)}.navbar,.dropdown-menu,.dropdown-menu li,.dropdown-menu li a{font-weight:normal}.navbar-static-bottom{margin-bottom:0}.navbar-static-bottom .navbar-inner{padding:0;border-radius:0}footer .navbar,footer .navbar small,footer .navbar a,.navbar-text,.navbar-text small,.navbar-text a{color:#b0b0b0}footer .navbar a:hover,.navbar-text a:hover{color:#fff}footer .navbar .muted,.navbar-text .muted{color:#b0b0b0}.navbar{font-family:Helvetica,Arial,sans-serif}.navbar .brand{color:#b0b0b0}.navbar .brand:hover{color:#bcbcbc}.navbar .btn-navbar .icon-bar{background-color:#b0b0b0}.navbar .btn-navbar,.navbar .btn-navbar:hover,.navbar .btn-navbar:focus,.navbar .btn-navbar:active,.navbar .btn-navbar.active,.navbar .btn-navbar.disabled,.navbar .btn-navbar[disabled]{background-color:#3d3d3d;background-image:none !important;color:#b0b0b0}.navbar .navbar-inner{filter:none;background:none;background-color:#303030;background-image:none !important;border-color:#171717}.navbar .navbar-inner .nav li a,.navbar .navbar-inner .brand{text-shadow:0 1px 0 rgba(0,0,0,0.3)}.navbar .navbar-inner .nav li a{color:#b0b0b0}.navbar .navbar-inner .nav li a:hover{background-color:#232323;color:#bcbcbc}.navbar .navbar-inner .nav li a .caret{border-top-color:#b0b0b0 !important;border-bottom-color:#b0b0b0 !important}.navbar .navbar-inner .nav li.active a{background-color:#282828}.navbar .navbar-inner .nav li.dropdown.open>.dropdown-toggle{background-color:#232323 !important;color:#bcbcbc}.navbar .navbar-inner .nav li ul.dropdown-menu{background-color:#232323}.navbar .navbar-inner .nav li ul.dropdown-menu li a:hover,.navbar .navbar-inner .nav li ul.dropdown-menu li.active,.navbar .navbar-inner .nav li ul.dropdown-menu li.active a:hover{color:#b0b0b0;background-color:#303030}.navbar .navbar-inner .nav li ul.dropdown-menu a{color:#b0b0b0}.navbar .nav>li>.dropdown-menu::after{border-bottom-color:#171717}.nav{text-transform:normal-as-typed;font-style:normal}aside .nav{text-transform:normal-as-typed}.nav-collapse .navbar-form,.nav-collapse .navbar-search{border-color:#171717}.navbar-fixed-bottom{font-family:Helvetica,Arial,sans-serif;font-size:12px}.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus{box-shadow:none !important}.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover>a,.dropdown-submenu:focus>a,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{background-image:none;background-color:#282828 !important;color:#b7b7b7 !important}.table th,.table td,blockquote,.page-header,hr,.footer{border-color:rgba(181,181,181,0.06)}.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th,aside .nav li.active a{background-color:rgba(181,181,181,0.03)}.table-hover tbody tr:hover>td,.table-hover tbody tr:hover>th,ul.breadcrumb,aside .nav .active a:hover,aside .nav a:hover,.footer .nav a:hover{background-color:rgba(181,181,181,0.04)}aside .nav li.active a{color:#cfcfcf}aside .nav li.active a:hover{color:#9c9c9c}.segment.cta{background-color:#bed600}.segment.cta h1,.segment.cta h2,.segment.cta h3,.segment.cta h4,.segment.cta p{color:#fff}

.customer-name, .staff-name {
  color: #bed600;
}