body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.feedback-display-container {
	margin-top: 100px;
}

.customer-name, .staff-name {
	color: #bed600;
}